<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='wmc-win'
        UpgradeCode='2FB68285-4201-4A6B-B803-7577C1A3820B'
        Manufacturer='Tim Brooks'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Windows native application for controlling media playback within web browsers via the web-media-controller extension'
            Manufacturer='Tim Brooks'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perUser'
            SummaryCodepage='1252'
            Platform='$(var.Platform)'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            AllowSameVersionUpgrades='yes'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='wmc-win Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='LocalAppDataFolder' Name='AppData'>
                <Directory Id='APPLICATIONFOLDER' Name='wmc-win'>
                    <!--
                      Disabling the license sidecar file in the installer is a two step process:

                      1. Comment out or remove the `Component` tag along with its contents.
                      2. Comment out or remove the `ComponentRef` tag with the "License" Id
                         attribute value further down in this file.
                    -->
                    <Component Id='License' Guid='8AA4100F-B5E6-4C20-9348-B63AFA6EF079' Win64='$(var.Win64)'>
                        <RegistryValue Root='HKCU' Key='Software\wmc-win'
                            Name='ApplicationFolder'
                            Value='[APPLICATIONFOLDER]'
                            Type='string'
                            KeyPath='yes' />
                        <File Id='LicenseFile'
                            Name='LICENSE'
                            DiskId='1'
                            Source='LICENSE'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='wmcWinBinary' Guid='55F49338-E115-4A25-A50D-D17EB1DBDB0E' Win64='$(var.Win64)'>
                            <RemoveFolder Id='RemoveAPPLICATIONFOLDER' Directory='APPLICATIONFOLDER' On='uninstall' />
                            <RemoveFolder Id='RemoveBin' Directory='Bin' On='uninstall' />
                            <RegistryValue Root='HKCU' Key='Software\wmc-win'
                                Name='ApplicationFolder'
                                Value='[APPLICATIONFOLDER]'
                                Type='string'
                                KeyPath='yes' />
                            <File
                                Id='wmcWinEXE'
                                Name='wmc-win.exe'
                                DiskId='1'
                                Source='target\release\wmc-win.exe'/>
                        </Component>
                    </Directory>

                    <Component Id='Readme' Guid='1F84ABB1-4C6E-4C1B-BC99-25FDF665AF0B' Win64='$(var.Win64)'>
                        <RegistryValue Root='HKCU' Key='Software\wmc-win'
                            Name='ApplicationFolder'
                            Value='[APPLICATIONFOLDER]'
                            Type='string'
                            KeyPath='yes' />
                        <File Id='ReadmeFile'
                            Name='README.md'
                            DiskId='1'
                            Source='README.md'/>
                    </Component>

                    <Component Id='FirefoxManifest' Guid='974EAB3D-212A-4438-99DF-301DF4C012C4' Win64='$(var.Win64)'>
                        <RegistryValue Root='HKCU' Key='Software\wmc-win'
                            Name='ApplicationFolder'
                            Value='[APPLICATIONFOLDER]'
                            Type='string'
                            KeyPath='yes' />
                        <File Id='FirefoxManifestJSON'
                              Source='manifests/me.f1u77y.web_media_controller.firefox.json'/>
                    </Component>

                    <Component Id='FirefoxRegistryEntry' Guid='A9A20121-814A-4987-8A5C-48B1B50C1973' Win64='$(var.Win64)'>
                        <RegistryKey Root='HKCU' Key='SOFTWARE\Mozilla\NativeMessagingHosts\me.f1u77y.web_media_controller'>
                            <RegistryValue Type='string' Value='[#FirefoxManifestJSON]'/>
                        </RegistryKey>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='MainProgram'
            Title='Application'
            Description='Installs the executable and license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <!--
              Comment out or remove the following `ComponentRef` tag to remove
              the license sidecar file from the installer.
            -->
            <ComponentRef Id='License'/>

            <ComponentRef Id='wmcWinBinary'/>

            <ComponentRef Id='Readme'/>

            <Feature
                Id='FirefoxManifest'
                Title='Firefox native messaging manifest'
                Description='Add the [ProductName] manifest for Firefox. This allows the [ProductName] executable to be called be the web-media-controller extension.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='FirefoxManifest'/>
                <ComponentRef Id='FirefoxRegistryEntry'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <!--
          Uncomment the following `Icon` and `Property` tags to change the product icon.

          The product icon is the graphic that appears in the Add/Remove
          Programs control panel for the application.
        -->
        <!--<Icon Id='ProductICO' SourceFile='wix\Product.ico'/>-->
        <!--<Property Id='ARPPRODUCTICON' Value='ProductICO' />-->

        <Property Id='ARPHELPLINK' Value='https://github.com/brookst/wmc-win#web-media-controller-windows-wmc-win'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>

            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>

        </UI>

        <!--
          Uncomment the next `WixVaraible` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom banner image across
          the top of each screen. See the WiX Toolset documentation for details
          about customization.

          The banner BMP dimensions are 493 x 58 pixels.
        -->
        <!--<WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>-->

        <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom image to the first
          dialog, or screen. See the WiX Toolset documentation for details about
          customization.

          The dialog BMP dimensions are 493 x 312 pixels.
        -->
        <!--<WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>-->

    </Product>

</Wix>
